.text-sm {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.fa-sort-down {
  color: #06496d;
}

.fa-bell {
  font-size: 25px;
  text-align: center;
  color: #06496d;
  cursor: pointer;
}


.input-group-alternative {
  width: 250px;
  margin-right: 670px;
}