<div class="header bg-gradient-danger pb-5 pt-5 pt-md-6"></div>

<div class="container mt-2">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="weapon-tab"
        data-toggle="tab"
        href="#weapon"
        role="tab"
        aria-controls="weapon"
        aria-selected="true"
        >Weapons</a
      >
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="weapon"
      role="tabpanel"
      aria-labelledby="weapon-tab"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Loading -->
            <div id="cards">
              <figure class="card card--water">
                <div class="card__image-container"></div>

                <div class="row m-2">
                  <div class="col-md-8">
                    <img
                      src="../../../../assets/img/icons/Sword-1H.png"
                      alt=""
                    />
                    <span class="card__name">Iron Sword</span>
                  </div>
                </div>

                <figcaption class="card__caption">
                  <div class="row">
                    <div class="col-md-4" style="border-right: solid 1px rgba(128, 128, 128, 0.267);">
                      <table class="card__stats">
                        <tbody>
                          <tr>
                            <th>Attack</th>
                            <td>25</td>
                          </tr>
                          <tr>
                            <th>Evade</th>
                            <td>5</td>
                          </tr>

                          <tr>
                            <th>Combo</th>
                            <td>5%</td>
                          </tr>

                          <tr>
                            <th>Effects</th>
                            <td>Petrify Chance: 15%</td>
                          </tr>
                          <tr>
                            <br />
                          </tr>
                          <tr>
                            <th>License</th>
                            <td>Sword 1</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-8">
                      <table class="card__stats">
                        <tbody>
                          <tr>
                            <th>Stolen</th>
                            <td>25</td>
                          </tr>
                          <tr>
                            <th>Drop</th>
                            <td>5</td>
                          </tr>

                          <tr>
                            <th>Pursharge</th>
                            <td>5%</td>
                          </tr>
                          <tr>
                            <br />
                          </tr>
                          <tr>
                            <th>Treasure</th>
                            <td>
                              <a
                                >Mines - Phase 2 Dig, Cerobi Steppe -
                                Crossfield</a
                              >
                            </td>
                          </tr>
                          <tr>
                            <th>Find</th>
                            <td>
                              <a
                                >Reks and Vaan both come initially equipped with
                                this sword.</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
