<div class="card bg-gradient-default shadow fixed">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h6 class="text-uppercase text-header ls-1 mb-1">
          Assuntos mais descutidos
        </h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ul>
      <li>
        <a href="">
          <div class="truncate">
            Node 14 saiu do forno com novas features do Javascript e melhorias
            no runtime.
          </div>
        </a>
        <div>
          <span style="font-size: small; margin-right: 3px;">há 2d</span> -
          <span style="font-size: small; margin-right: 3px;">75 comentários</span>
        </div>
      </li>
      <li>
        <a
          href=""
          title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
        "
        >
          <div class="truncate">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's.
          </div>
        </a>
        <div>
          <span style="font-size: small; margin-right: 3px;">há 2d</span> -
          <span style="font-size: small; margin-right: 3px;">20 comentários</span>
        </div>
      </li>
      <li>
        <a href="">
          <div class="truncate">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem.
          </div>
        </a>
        <div>
          <span style="font-size: small; margin-right: 3px;">há 2d</span> -
          <span style="font-size: small; margin-right: 3px;">15 comentários</span>
        </div>
      </li>
      <li>
        <a href="">
          <div class="truncate">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour, or randomised words.
          </div>
        </a>
        <div>
          <span style="font-size: small; margin-right: 3px;">há 2d</span> -
          <span style="font-size: small; margin-right: 3px;">8 comentários</span>
        </div>
      </li>
    </ul>
  </div>
  <app-recent-post></app-recent-post>
</div>
