<div class="header py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100"></div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-4">
  <div class="row justify-content-center">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="title title-primary">Por favor inisira a nova senha</h2>
        <p class="description description-primary">
          Queremos você de volta na nossa comunidade.
        </p>
      </div>
      <div class="second-column m-2">
         <img src="./../../../../assets/img/logo (3).png" alt="logo-full-stack-guide">
        
        <!-- social media -->
        <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onReset()">
          <label class="label-input" for="">
            <i class="fas fa-lock icon-modify"></i>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Senha"
              formControlName="password"
            />
          </label>

          <label class="label-input" for="">
            <i class="fas fa-lock icon-modify"></i>
            <input
              type="password"
              name="confirmPassword"
              class="form-control"
              placeholder="Confirmar Senha"
              formControlName="password_confirmation"
            />
          </label>
          <button class="btn btn-second" type="submit">
            <app-loading [loadingLogin]="loadingLogin"></app-loading>
            Enviar</button>
        </form>
      </div>
    </div>
    <!-- second-content -->
  </div>
</div>
