<div class="header bg-gradient-danger pb-3 pt-2 pt-md-5"></div>

<div class="container mt-2">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="belias-tab"
        data-toggle="tab"
        href="#belias"
        role="tab"
        aria-controls="belias"
        aria-selected="true"
        >Belias</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="mateus-tab"
        data-toggle="tab"
        href="#mateus"
        role="tab"
        aria-controls="mateus"
        aria-selected="true"
        >Mateus</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="adrammelech-tab"
        data-toggle="tab"
        href="#adrammelech"
        role="tab"
        aria-controls="adrammelech"
        aria-selected="true"
        >Adrammelesh</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="greatswords-tab"
        data-toggle="tab"
        href="#greatswords"
        role="tab"
        aria-controls="greatswords"
        aria-selected="true"
        >Cúchulainn</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="zeromus-tab"
        data-toggle="tab"
        href="#zeromus"
        role="tab"
        aria-controls="zeromus"
        aria-selected="true"
        >Zeromus</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="zalera-tab"
        data-toggle="tab"
        href="#zalera"
        role="tab"
        aria-controls="zalera"
        aria-selected="true"
        >Zalera</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="caos-tab"
        data-toggle="tab"
        href="#caos"
        role="tab"
        aria-controls="caos"
        aria-selected="true"
        >Caos</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="hashmal-tab"
        data-toggle="tab"
        href="#hashmal"
        role="tab"
        aria-controls="hashmal"
        aria-selected="true"
        >Hashmal</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="katana-tab"
        data-toggle="tab"
        href="#katana"
        role="tab"
        aria-controls="katana"
        aria-selected="true"
        >Shemhazai</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="ninja-tab"
        data-toggle="tab"
        href="#ninja"
        role="tab"
        aria-controls="ninja"
        aria-selected="true"
        >Exodo</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="famfrit-tab"
        data-toggle="tab"
        href="#famfrit"
        role="tab"
        aria-controls="famfrit"
        aria-selected="true"
        >Famfrit</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="ultima-tab"
        data-toggle="tab"
        href="#ultima"
        role="tab"
        aria-controls="ultima"
        aria-selected="true"
        >Ultima</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        id="zordiark-tab"
        data-toggle="tab"
        href="#zordiark"
        role="tab"
        aria-controls="zordiark"
        aria-selected="true"
        >Zordiark</a
      >
    </li>
  </ul>

  <!-- TAB_CONTENT -->
  <div class="tab-content" id="myTabContent">
    <!-- BELIAS -->
    <div
      class="tab-pane fade show active"
      id="belias"
      role="tabpanel"
      aria-labelledby="belias-tab"
    >
      <div class="container m-2">
        <h4>
          {{ esperBeliasDesc }}
        </h4>
      </div>
      <app-belias-details
        [esperBeliasDetails]="esperBeliasDetails"
      ></app-belias-details>
    </div>

    <!-- MATEUS -->
    <div
      class="tab-pane fade"
      id="mateus"
      role="tabpanel"
      aria-labelledby="mateus-tab"
    >
      <div class="container m-2">
        <h4>
          {{ esperMateusDesc }}
        </h4>
      </div>
      <app-mateus-details
        [esperMateusDetails]="esperMateusDetails"
      ></app-mateus-details>
    </div>

    <!-- ADRAMMELECH -->
    <div
      class="tab-pane fade"
      id="adrammelech"
      role="tabpanel"
      aria-labelledby="adrammelech-tab"
    >
      <div class="container m-2">
        <h4>
          {{ esperAdrammelechDesc }}
        </h4>
      </div>
      <app-adrammelech-details
        [esperAdrammelechDetails]="esperAdrammelechDetails"
      ></app-adrammelech-details>
    </div>
  </div>
</div>
