<div class="header bg-gradient-danger pb-3 pt-5 pt-md-5"></div>

<div class="container mt-2">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="weapon-tab"
        data-toggle="tab"
        href="#weapon"
        role="tab"
        aria-controls="weapon"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Sword-1H.png"
          alt="nav-sword"
        />Sword(1H)</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="greatswords-tab"
        data-toggle="tab"
        href="#greatswords"
        role="tab"
        aria-controls="greatswords"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Sword-2H.png"
          alt="nav-sword"
        />Greatswords(2H)</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="katana-tab"
        data-toggle="tab"
        href="#katana"
        role="tab"
        aria-controls="katana"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Katana.png"
          alt="nav-katana"
        />Katanas</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="ninja-tab"
        data-toggle="tab"
        href="#ninja"
        role="tab"
        aria-controls="ninja"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Ninja-Sword.png"
          alt="nav-ninja"
        />Ninja Swords</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="spears-tab"
        data-toggle="tab"
        href="#spears"
        role="tab"
        aria-controls="spears"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Spear.png"
          alt="nav-ninja"
        />Spears</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="poles-tab"
        data-toggle="tab"
        href="#poles"
        role="tab"
        aria-controls="poles"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Pole.png"
          alt="nav-ninja"
        />Poles</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="bows-tab"
        data-toggle="tab"
        href="#bows"
        role="tab"
        aria-controls="bows"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Bow.png"
          alt="nav-ninja"
        />Bows</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="crossbows-tab"
        data-toggle="tab"
        href="#crossbows"
        role="tab"
        aria-controls="crossbows"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Crossbow.png"
          alt="nav-ninja"
        />Crossbows</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="guns-tab"
        data-toggle="tab"
        href="#guns"
        role="tab"
        aria-controls="guns"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Gun.png"
          alt="nav-ninja"
        />Guns</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="axes-tab"
        data-toggle="tab"
        href="#axes"
        role="tab"
        aria-controls="axes"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Axe.png"
          alt="nav-ninja"
        />Axes</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="hammers-tab"
        data-toggle="tab"
        href="#hammers"
        role="tab"
        aria-controls="hammers"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Hammer.png"
          alt="nav-ninja"
        />Hammers</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="daggers-tab"
        data-toggle="tab"
        href="#daggers"
        role="tab"
        aria-controls="daggers"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Dagger.png"
          alt="nav-ninja"
        />Daggers</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="rods-tab"
        data-toggle="tab"
        href="#rods"
        role="tab"
        aria-controls="rods"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Rod.png"
          alt="nav-ninja"
        />Rods</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="staves-tab"
        data-toggle="tab"
        href="#staves"
        role="tab"
        aria-controls="staves"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Staff.png"
          alt="nav-ninja"
        />Staves</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="maces-tab"
        data-toggle="tab"
        href="#maces"
        role="tab"
        aria-controls="maces"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Mace.png"
          alt="nav-ninja"
        />Maces</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="measures-tab"
        data-toggle="tab"
        href="#measures"
        role="tab"
        aria-controls="measures"
        aria-selected="true"
        ><img
          src="../../../../assets/img/icons/Scale.png"
          alt="nav-ninja"
        />Measures</a
      >
    </li>
  </ul>

  <!-- TAB_CONTENT -->
  <div class="tab-content" id="myTabContent">
    <!-- SWORD -->
    <div
      class="tab-pane fade show active"
      id="weapon"
      role="tabpanel"
      aria-labelledby="weapon-tab"
    >
      <div class="container m-2">
        <h2>One-Handed Swords</h2>
        <h4>
          One-handed Swords are the primary weapons of the Knight, Time
          Battlemage and Bushi job classes.
        </h4>
      </div>
      <app-weapons-sword [swordList]="swordList"></app-weapons-sword>
    </div>

    <!-- GREATSWORD -->
    <div
      class="tab-pane fade"
      id="greatswords"
      role="tabpanel"
      aria-labelledby="greatswords-tab"
    >
      <div class="container m-2">
        <h2>Greatswords (Two-Handed Swords)</h2>
        <h4>
          The strongest weapons in the game (in most cases). Two-handed Swords
          are the primary weapons of Knights but can also be used by Red
          Battlemages and White Mages.
        </h4>
      </div>
      <app-great-swords [greatSwordList]="greatSwordList"></app-great-swords>
    </div>
  </div>
</div>
