<nav class="navbar navbar-vertical navbar-expand-md" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="sidenav-collapse-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->

    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isCollapsed"
      id="sidenav-collapse-main"
    >
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/database/characters']"
            routerLinkActive="router-link-active"
          >
            <img
              src="../../../../assets/img/icons/SB_Vaan01.png"
              alt="Equipamentos"
            />
            Personagens
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/database/espers']"
            routerLinkActive="router-link-active"
          >
            <img
              src="https://firebasestorage.googleapis.com/v0/b/finalfantasyxiitza-28b6f.appspot.com/o/espers%2FEsper_05.png?alt=media&token=88239ccf-945e-4796-9f24-0ad09a05e1f8"
              alt="Hunters"
            />
            Espers
          </a>
          <hr />
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/database/hunters']"
            routerLinkActive="router-link-active"
          >
            <img src="../../../../assets/img/icons/Arrows.png" alt="Hunters" />
            Hunters
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/database/equipment']"
            routerLinkActive="router-link-active"
          >
            <img
              src="../../../../assets/img/icons/Sword-2H.png"
              alt="Equipamentos"
            />
            Equipamentos
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="https://homeoffice.indrabrasil.com.br/doc/manual/index.html"
            target="_blanck"
          >
            <img
              src="../../../../assets/img/icons/Item-Herb.png"
              alt="Equipamentos"
            />
            Itens
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="https://homeoffice.indrabrasil.com.br/doc/manual/index.html"
            target="_blanck"
          >
            <img
              src="../../../../assets/img/icons/Technick.png"
              alt="Equipamentos"
            />
            Tecnickes
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="https://homeoffice.indrabrasil.com.br/doc/manual/index.html"
            target="_blanck"
          >
            <img
              src="../../../../assets/img/icons/magick.png"
              alt="Equipamentos"
            />
            Magick
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="https://homeoffice.indrabrasil.com.br/doc/manual/index.html"
            target="_blanck"
          >
            <img
              src="../../../../assets/img/icons/Loot.png"
              alt="Equipamentos"
            />
            Loots/Bazzar
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/database/trial-mode']"
            routerLinkActive="router-link-active"
          >
            <img
              src="../../../../assets/img/icons/Heavy-Helm.png"
              alt="Equipamentos"
            />
            Trial Mode
          </a>
          <hr />
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/database/side-quest']"
            routerLinkActive="router-link-active"
          >
            <img
              src="../../../../assets/img/icons/Item-Elixir.png"
              alt="Equipamentos"
            />
            Side Quests
          </a>
          <hr />
        </li>
      </ul>
    </div>
  </div>
</nav>
