<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
  <div class="row justify-content-center">

    <!-- VAAN -->
    <div class="col-md-4">
      <section class="cards">
        <article class="card card--1">
          <div class="card__img"></div>
          <a class="card_link">
            <div class="card__img--hover"></div>
          </a>
          <div class="card__info">
            <h3 class="card__title">Vaan</h3>
            <div class="card__category">
              <span>Age: 17</span> | <span>Classe: Ladrão</span>
            </div>
            <div class="item justify-content-center">
              <a style="font-size: 12px; text-align: center;">DETALHES </a>
              <i class="far fa-hand-point-up"></i>
              <div class="descricao">
                <div class="card__category">
                  <p>
                    Um ladrão de rua órfão oriundo de Rabanastre, no Reino de
                    Dalmasca, Vaan inveja o Império Archadiano pela morte de seu
                    irmão Reks e pela subjugação de sua terra natal. Ele sonha
                    em possuir uma aeronave e ser um pirata do céu livre para
                    viajar a Ivalice.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>

    <!-- BALTHIER -->
    <div class="col-md-4">
      <section class="cards">
        <article class="card card--3">
          <div class="card__img"></div>
          <a class="card_link">
            <div class="card__img--hover"></div>
          </a>
          <div class="card__info">
            <h3 class="card__title">Balthier</h3>
            <div class="card__category">
              <span>Age: 32</span> | <span>Classe: Pirata</span>
            </div>
            <div class="item justify-content-center">
              <a style="font-size: 12px; text-align: center;">DETALHES </a>
              <i class="far fa-hand-point-up"></i>

              <div class="descricao">
                <div class="card__category">
                  <p>
                    Ele é um pirata do céu que faz globetrots Ivalice em seu
                    dirigível, o Strahl, com seu parceiro Fran. Durante uma
                    tentativa de roubar do Palácio Real de Rabanastre, Balthier
                    encontra Vaan roubando o tesouro do palácio.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>

    <!-- FRAN -->
    <div class="col-md-4">
      <section class="cards">
        <article class="card card--4">
          <div class="card__img"></div>
          <a class="card_link">
            <div class="card__img--hover"></div>
          </a>
          <div class="card__info">
            <h3 class="card__title">Fran</h3>
            <div class="card__category">
              <span>Age: 25</span> | <span>Classe: Viera</span>
            </div>
            <div class="item justify-content-center">
              <a style="font-size: 12px; text-align: center;">DETALHES </a>
              <i class="far fa-hand-point-up"></i>
              <div class="descricao">
                <div class="card__category">
                  <p>
                    Ele é um pirata do céu que faz globetrots Ivalice em seu
                    dirigível, o Strahl, com seu parceiro Fran. Durante uma
                    tentativa de roubar do Palácio Real de Rabanastre, Balthier
                    encontra Vaan roubando o tesouro do palácio.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>

    <!-- ASH -->
    <div class="col-md-4">
      <section class="cards">
        <article class="card card--5">
          <div class="card__img"></div>
          <a class="card_link">
            <div class="card__img--hover"></div>
          </a>
          <div class="card__info">
            <h3 class="card__title">Ash</h3>
            <div class="card__category">
              <span>Age: 22</span> | <span>Classe: Magician</span>
            </div>
            <div class="item justify-content-center">
              <a style="font-size: 12px; text-align: center;">DETALHES </a>
              <i class="far fa-hand-point-up"></i>
              <div class="descricao">
                <div class="card__category">
                  <p>
                    Ele é um pirata do céu que faz globetrots Ivalice em seu
                    dirigível, o Strahl, com seu parceiro Fran. Durante uma
                    tentativa de roubar do Palácio Real de Rabanastre, Balthier
                    encontra Vaan roubando o tesouro do palácio.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>

    <!-- BASH -->
    <div class="col-md-4">
      <section class="cards">
        <article class="card card--6">
          <div class="card__img"></div>
          <a class="card_link">
            <div class="card__img--hover"></div>
          </a>
          <div class="card__info">
            <h3 class="card__title">Bash</h3>
            <div class="card__category">
              <span>Age: 28</span> | <span>Classe: Knight</span>
            </div>
            <div class="item justify-content-center">
              <a style="font-size: 12px; text-align: center;">DETALHES </a>
              <i class="far fa-hand-point-up"></i>
              <div class="descricao">
                <div class="card__category">
                  <p>
                    Ele é um pirata do céu que faz globetrots Ivalice em seu
                    dirigível, o Strahl, com seu parceiro Fran. Durante uma
                    tentativa de roubar do Palácio Real de Rabanastre, Balthier
                    encontra Vaan roubando o tesouro do palácio.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>

    <!-- PENELO -->
    <div class="col-md-4">
      <section class="cards">
        <article class="card card--7">
          <div class="card__img"></div>
          <a class="card_link">
            <div class="card__img--hover"></div>
          </a>
          <div class="card__info">
            <h3 class="card__title">Penelo</h3>
            <div class="card__category">
              <span>Age: 20</span> | <span>Classe: White Mage</span>
            </div>
            <div class="item justify-content-center">
              <a style="font-size: 12px; text-align: center;">DETALHES </a>
              <i class="far fa-hand-point-up"></i>
              <div class="descricao">
                <div class="card__category">
                  <p>
                    Ele é um pirata do céu que faz globetrots Ivalice em seu
                    dirigível, o Strahl, com seu parceiro Fran. Durante uma
                    tentativa de roubar do Palácio Real de Rabanastre, Balthier
                    encontra Vaan roubando o tesouro do palácio.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
