@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

$base-duration: 250ms;

// Colors
$primary: #4db6ac;
$accent: #46627f;
$white: whitesmoke;
$color-3: #bdc3c7;

// Breakpoints
$sm: 20rem;
$med: 48rem;
$lg: 64rem;

.bg-gradient-danger {
  border-top: solid 5px #06496d;
  background: linear-gradient(87deg, #fdd190 0, #f4a6a4 100%) !important;
}

.descricao {
  display: none;
}

.item:hover .descricao {
  display: flex;
}

.bg-gradient-default {
  background: #fff !important;
}

.text-header {
  color: #092b33;
}

.btn-create-instance {
  color: #fff;
  background-color: #092b33;
}

* {
  box-sizing: border-box;
}

.cards {
  width: 100%;
  max-width: 310px;
  height: 400px;
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url("../../../assets/img/bg/char_01.1.png");
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url("../../../assets/img/bg/char_02.png");
}

.card--4 .card__img,
.card--4 .card__img--hover {
  background-image: url("../../../assets/img/bg/char_07.png");
}

.card--5 .card__img,
.card--5 .card__img--hover {
  background-image: url("../../../assets/img/bg/char_04.png");
}

.card--6 .card__img,
.card--6 .card__img--hover {
  background-image: url("../../../assets/img/bg/char_05.png");
}

.card--7 .card__img,
.card--7 .card__img--hover {
  background-image: url("../../../assets/img/bg/char_03.png");
}


.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url("https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
}

.card__like {
  width: 18px;
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #ad7d52;
}
.card__time {
  font-size: 12px;
  color: #ad7d52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}
.card {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  text-align: justify;
  letter-spacing: 1px;
  margin-bottom: 10px;


  font-weight: 300;
  color: #000000;
  span {
    font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1px;
 
  font-weight: 300;
  color: #000000;
  }
}

.card__title {
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
}

.card__by {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.1;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

.card-footer {
  text-align: -webkit-center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: $primary;
  border-radius: 99px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;

    //letter-spacing: -0.0625rem;
    transition: 0.25s linear;
    z-index: 1;
  }
  &:before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: $primary;
  }
  &:after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: darken($primary, 5%);
  }
  &:hover {
    background-color: $accent;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    span {
      opacity: 0;
      z-index: -3;
    }
    &:before {
      opacity: 0.5;
      transform: translateY(-100%);
    }
    &:after {
      opacity: 0.5;
      transform: translateY(100%);
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
  }
  .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: $white;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    i {
      text-shadow: 1px 1px rgba($accent, 0.7);
      transform: scale(1);
    }
    &:hover {
      background-color: rgba($white, 0.1);
      i {
        animation: bounce 0.4s linear;
      }
    }
  }
}

@keyframes bounce {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.modal-body {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  margin-top: 150px;
}

.modal-header {
  width: 800px;
  color: white;
}

.close {
  cursor: pointer;
}

iframe {
  width: 800px;
  height: 500px;
  border: solid 1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  background-color: white;

  -webkit-box-shadow: -5px 15px 31px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 15px 31px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 15px 31px 5px rgba(0, 0, 0, 0.75);
}

.modal-header {
  display: none;
}

.load {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5%;
  left: 45%;
  color: #004254;
  font-size: 8px;
}
