<div class="card-header bg-transparent">
  <div class="row align-items-center">
    <div class="col-md-12">
      <h6 class="text-uppercase text-header ls-1 mb-1">
        Recentes
      </h6>
    </div>
  </div>
</div>
<div class="card-body">
  <ul style="list-style-type: none;">
    <li>
      <a href=""> <i class="fas fa-hashtag mr-2"></i><span style="font-size: 16px;">Angular</span> </a>
    </li>
    <li>
      <a href=""> <i class="fas fa-hashtag mr-2"></i> <span>Java</span> </a>
    </li>
    <li>
      <a href=""> <i class="fas fa-hashtag mr-2"></i> <span>Docker</span> </a>
    </li>
    <li>
      <a href=""> <i class="fas fa-hashtag mr-2"></i> <span>MySql</span> </a>
    </li>
  </ul>
</div>
