<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <!-- Loading -->
      <div id="cards" *ngFor="let esper of esperMateusDetails">
        <figure class="card card--water">
          <div class="card__image-container"></div>
          <div class="row m-2">
            <div class="col-md-4">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/finalfantasyxiitza-28b6f.appspot.com/o/espers%2FEsper_06.png?alt=media&token=30c62ecd-16f8-4e16-9278-fdef05efa5c7"
                class="img-esper"
                alt="Mateus"
              />
            </div>
            <div class="col-md-8">
              <span class="card__name">{{ esper.name }}</span>
            </div>
          </div>

          <figcaption class="card__caption">
            <div class="row">
              <div
                class="col-md-6"
                style="border-right: solid 1px rgba(128, 128, 128, 0.267);"
              >
                <table class="card__stats">
                  <tbody>
                    <tr>
                      <th>Level</th>
                      <td>{{ esper.level }}</td>
                    </tr>
                    <tr>
                      <th>HP</th>
                      <td>{{ esper.hp }}</td>
                    </tr>

                    <tr>
                      <th>Steal</th>
                      <td>{{ esper.steal }}</td>
                    </tr>
                    <tr>
                      <br />
                    </tr>
                    <tr>
                      <th>Quickenings</th>
                      <td>
                        <i
                          class="fas fa-fire"
                          style="
                            color: #2199fc;
                            font-size: 20px;
                            margin-right: 5px;
                          "
                        ></i
                        >{{ esper.attack }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table class="card__stats">
                  <tbody>
                    <tr *ngIf="esper.location">
                      <th>location</th>
                      <td>{{ esper.location }}</td>
                    </tr>
                    <tr>
                      <br />
                    </tr>
                    <tr *ngIf="esper.lockedlicense">
                      <th>Locked license</th>
                      <td>{{ esper.lockedlicense }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12 mb-2">
                <img
                  src="{{ esper.avatar }}"
                  class="img-responsive"
                  alt="Belias"
                />
              </div>
              <div class="col-md-12">
                <p>
                  Mateus começará a batalha lançando Reflect sobre si mesmo e
                  convocando cinco inimigos do Ice Azer para ajudá-lo na
                  batalha. Comece derrotando cada um dos inimigos do Ice Azer,
                  pois eles enviarão spam à sua equipe com feitiços do sono e
                  Blizzard Magick.
                </p>
                <p>
                  Use Protect, Shell e Haste nos membros do seu grupo, se você
                  tiver MP suficiente. Protect reduzirá a quantidade de dano
                  causado pelos ataques regulares de Mateus, a Shell reduzirá o
                  dano causado pelos Ice Azers até você derrotar todos eles e
                  Haste aumentará bastante a quantidade de dano causado pelos
                  membros do seu grupo.
                </p>
                <p>
                  Mateus não é fraco a nenhum efeito de status negativo (exceto
                  o Óleo, que não irá ajudá-lo nesta luta). Os Ice Azers são
                  suscetíveis a Thunder e Thundara Magick, mas você corre o
                  risco de acertar Mateus com feitiços de Thundara, que serão
                  refletidos no lançador.
                </p>
                <p>
                  Você pode usar Quickenings ou convocar Belias para causar um
                  bom dano a Mateus e aos Ice Azers, se você estiver com
                  problemas. Use Chamariz e um Escudo de Gelo para que o chefe e
                  os Azers se concentrem no seu membro mais forte da equipe.
                  Mateus fará mais danos assim que seu HP ficar baixo.
                </p>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
